<a href="https://colab.research.google.com/github/Priyo-prog/Machine-Learning/blob/main/K-Means%20Clustering/K_Means_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **K-Means Clustering**

* K-Means Clustering aims to partition n observations into k clusters in which each observation belongs to the cluster with the nearest mean (cluster centers or cluster centroid), serving as a prototype of the cluster.

* K-means clustering is one of the simplest and popular unsupervised machine learning algorithms.

* Typically, unsupervised algorithms make inferences from datasets using only input vectors without referring to known, or labelled, outcomes.

## Import the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import the dataset

In [3]:
# Mount the google drive to fetch the data
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
dataset = pd.read_csv('/content/drive/MyDrive/Data Science/Machine Learning/Mall_Customers.csv', sep=',')
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
X = dataset.iloc[:, [3,4]].values

## Using elbow method to find the optimal number of clusters

In [ ]:
from sklearn.cluster import KMeans

wcss = list()

for i in range(1,11):
  kmeans = KMeans(n_clusters=i, init='kmeans++', random_state=42)
  kmeans.fit(X)
  wcss.append(kmeans.inertia_)

plt.figure(figsize=(7,7))
plt.plot(range(1,11), wcss)
plt.title("The Elbow Method")
plt.xlabel("Number of clusters")
plt.ylabel('WCSS')