<a href="https://colab.research.google.com/github/Priyo-prog/Machine-Learning/blob/main/Principal%20Component%20Analysis/principal_components_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Principal Component Analysis**

* Create some gene data
* Use **PCA()** function from sklearn to do PCA
* Determine how much variation each principal components accounts for
* Draw a fancy PCA graph using matplotlib
* Examin the loading scores to determine what variables have the largest effect on the graph.

## Import important packages

In [2]:
import pandas as pd
import numpy as np
import random as rd
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as plt

## Generate sample dataset

* The first thing we do is generate an array of 100 gene names.
* Since this is just an example we name them as "gene1", "gene2" etc.

In [3]:
genes = ['gene' + str(i) for i in range(1,101)]

* Now we create arrays of sample names.
* We have 5 "wild type" or "wt" samples
* 5 "knock out" or "ko" samples

In [4]:
wt = ['wt' + str(i) for i in range(1,6)]
ko = ['ko' + str(i) for i in range(1,6)]

Now we create a pandas dataframe to store the made up data

In [5]:
# The "stars" unpack the "wt" and "ko" arrays so that column names are single array
data = pd.DataFrame(columns=[*wt, *ko], index=genes)

Finally creating the random data.

* For each gene in the "index", we create 5 values for "wt" samples and 5 values for "ko" samples
* The made up datacomes from two possion distribution: one for wt samples and one for ko samples

In [6]:
for gene in data.index:
  data.loc[gene, 'wt1':'wt5'] = np.random.poisson(lam=rd.randrange(10,1000), size=5)
  data.loc[gene, 'ko1':'ko5'] = np.random.poisson(lam=rd.randrange(10,1000), size=5)

In [7]:
data.head()

       wt1  wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1  392  371  344  343  388   22   21   29   31   25
gene2  604  585  581  585  584  162  160  159  147  150
gene3  327  359  371  366  360  140  138  156  130  130
gene4  533  537  529  563  619   95   65   87   93   70
gene5   88   77   94   78   99  228  201  225  177  200