<a href="https://colab.research.google.com/github/Priyo-prog/Machine-Learning/blob/main/Fashion%20MNIST/fashion_mnist_cnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Fashion Problem Statement**

Categorize the images in different classes of attires.

## **Import the Dataset**

In [ ]:
# Mount the google colab drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path_train = '/content/drive/MyDrive/Data Science/Machine Learning/Fashion MNIST/fashion-mnist_train.csv'
file_path_test = '/content/drive/MyDrive/Data Science/Machine Learning/Fashion MNIST/fashion-mnist_test.csv'

In [ ]:
%cd /content/drive/MyDrive/Data Science/Machine Learning/Fashion MNIST

/content/drive/MyDrive/Data Science/Machine Learning/Fashion MNIST

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
fashion_train_df = pd.read_csv(file_path_train, sep=',')

In [ ]:
fashion_test_df = pd.read_csv(file_path_test, sep=',')

## **Visualization of Dataset**

In [ ]:
fashion_train_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
fashion_train_df.shape, fashion_test_df.shape

((60000, 785), (10000, 785))